
.main-page {
    padding: 20px;
    background-color: #f0f0f5;
  }
  
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .heading {
    font-weight: bold;
    font-size: 24px;
    margin: 0;
  }
  
  .button-container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap; 
    justify-content: flex-end; 
  }
  
  .filter-button {
    padding: 6px 20px;
    background-color: #ddd;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    flex: 1; 
  }
  
  .filter-button-active {
    background-color: #A259FF;
    color: white;
  }
  
  .cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
    justify-content: center;
  }
  
  
  @media (max-width: 1200px) {
    .cards-container {
      grid-template-columns: repeat(2, 1fr); 
    }
  }
  
  @media (max-width: 768px) {
    .cards-container {
      grid-template-columns: 1fr; 
    }
  
    .button-container {
      justify-content: center; 
    }
  }
  