/* Navbar.css */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f0f0f5;
  }
  
  .searchBox {
    width: 200px; /* Decrease width of search box */
    border-radius: 4px;
  }
  
  .userInfo {
    display: flex;
    align-items: center;
  }
  
  .userImage {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .userName {
    margin-right: 20px;
  }
  
  @media (max-width: 768px) {
    .userName {
      display: none; /* Hide the username on mobile screens */
    }
  }
  